.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background: darkgray;
    padding: 2rem;
    border-radius: 16px;
    min-width: 300px;
    color: #1a1a1a;
}

h2 {
     margin: 0 0 20px 0;
}

.modalButtons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

select {
    height: 30px;
    width: 100%;
}

select:focus-visible {
    outline: none;
    box-shadow: none;
}

.notices {
    padding-bottom: 20px;
}

button {
    width: 100%;
}