.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 0 20px 20px 20px;
    box-sizing: border-box;
    position: relative;
    background-color: #3D3D3D;
}

.history {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 10px;
}

.history {
    flex: 1;
    overflow-y: auto;

    /* Firefox */
    scrollbar-width: none;

    /* IE и старые Edge */
    -ms-overflow-style: none;
}

/* Chrome, Safari */
.history::-webkit-scrollbar {
    display: none;
}

.historyWrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.historyRollValue {
    font-size: 12px;
    font-weight: bold;
    color: darkgray;
}

.totalHandler {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total {
    font-weight: bold;
    font-size: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    color: white;
}

.historyImg {
    width: 12px;
    height: 12px;
    margin-right: 5px;
}