.header {
    display: flex;
    align-items: center;
    background-color: #1a1a1a;
    height: 60px;
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

/* левая зона */
.burgerContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* центр */
.logoWrapper {
    flex: 1;
    display: flex;
    justify-content: center;
}

/* правая пустая зона */
.null {
    width: 130px;
}

/* ===== mobile ===== */
@media (max-width: 1023px) {
    .burgerContainer {
        width: 130px;
        order: 0;
    }

    .logoWrapper {
        order: 1;
    }

    .null {
        order: 2;
    }
}

/* ===== desktop ===== */
@media (min-width: 1024px) {
    .burgerContainer {
        order: 1;
    }

    .logoWrapper {
        order: 0;
        flex: 0;              /* ВАЖНО */
        justify-content: flex-start;
    }

    .null {
        order: 2;
    }
}