.label {
    display: grid;
    margin-bottom: 1rem;
}

.label input:focus-visible {
    box-shadow: none;
    outline: none;
}

.label input {
    height: 30px;
}

textarea {
    width: 100%;
    box-sizing: border-box;
}

textarea:focus-visible {
    outline: none;
    box-shadow: none;
}