.cardsList {
    width: 350px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tabs {
    display: flex;
    cursor: pointer;
    background-color: #1a1a1a;
    flex-shrink: 0;
}

.cardsWrapper {
    overflow-y: auto;
    padding: 15px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    justify-content: center;
    /* Firefox */
    scrollbar-width: none;
    /* IE и старые Edge */
    -ms-overflow-style: none;
}

.alive {
    width: 100%;
    height: 40px;
    background-image: url("/img/alive.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}
.dead {
    width: 100%;
    height: 40px;
    background-image: url("/img/dead.svg");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.activeTab {
    background-color: #1F1F1F;
}